@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: rgba(255,255,255);
    --cor-secundaria: #455A64;
    --cor-terciaria: #0067a6;
    --cor-hover1:#3795BD;
    --cor-hover2: #3A1078; 
    --cor-hover3: #3795BD; 

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* label{
    width: 80px;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 30px;
    box-shadow:inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label:after{
    content: "";
    width: 40px;
    height: 25px;
    position: absolute;
    top: 0px;
    left:0px;
    background: linear-gradient(90deg, #0067A6, #263238);
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 2);
    transition: 0.3s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #242424;
}

input:checked + label::after{
    left: 490px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
} */
.cabecalho{
    padding: 0.5% 0.5% 0.5% 15%;
    background-color: var(--cor-terciaria);
    display: flex;
 }

.cabecalho__menu{
    display: flex;
    top: 0; 
    gap: 5rem;
    background-color: var(--cor-terciaria);
    list-style-type: none;
}

.cabecalho__menu__navegacao{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    justify-content: center;
    
}

.cabecalho__menu__navegacao:hover{
    color: var(--cor-hover3);
}

.titulo__destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
    padding-bottom: 20px;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    padding-bottom: 40px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.apresentacao__links__subtitulo{
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.apresentacao__links__link{
    /* background-color:#22D4FD; */
    border-radius: 20px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover1);
}

.apresentacao__links__link__icon{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.romiconnect{
    width: 30%;
    justify-content: space-around;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 12px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

@media (max-width: 1200px){
    .cabecalho__menu{
        
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 8%, 8%;
    }
   .apresentacao__conteudo{
    width: auto;
   }
}